.sh_title_text {
  display: none !important;
}

.sh_block_counter {
  display: none !important;
}

.sh_chat {
  border: 1px solid #75B03B !important;
}

.sh_header {
  background: #75B03B !important;
}

.sh_button_save {
  border: 1px solid #75B03B !important;
  background: #75B03B !important;
}

#sh_button {
  padding: 5px;
  background: #75B03B;
  min-width: 0px;
  border-radius: 50%;
  margin-bottom: 15px;
  right: 15px;
  zoom: 1.2;
  animation: shake-animation 10s ease infinite;
  transform-origin: 50% 50%;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 15px 0px, rgba(0, 0, 0, 0.15) 0px 3px 5px 0px;

  &:hover {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 20px 0px, rgba(0, 0, 0, 0.15) 0px 5px 10px 0px;
  }
}

@keyframes shake-animation {
  0% { transform:translate(0,0) }
  1.78571% { transform:translate(5px,0) }
  3.57143% { transform:translate(0,0) }
  5.35714% { transform:translate(5px,0) }
  7.14286% { transform:translate(0,0) }
  8.92857% { transform:translate(5px,0) }
  10.71429% { transform:translate(0,0) }
  100% { transform:translate(0,0) }
}
