// MAIN VARS

//$--color-primary: #FFD74D;
$--color-primary: #FFC854;
$--color-success: #67C23A;
$--color-warning: #E6A23C;
$--color-danger: #F56C6C;
$--color-info: #909399;

$--color-white: #FFFFFF;
$--color-black: #000000;

$--color-primary-light: mix($--color-white, $--color-primary, 80%);
$--color-success-light: mix($--color-white, $--color-success, 80%);
$--color-warning-light: mix($--color-white, $--color-warning, 80%);
$--color-danger-light: mix($--color-white, $--color-danger, 80%);
$--color-info-light: mix($--color-white, $--color-info, 80%);
$--color-grey-light: rgba(238, 238, 238, 0.2);

$--color-border: #ebeef5;

$--main-text-color: #606266;
$--secondary-text-color: lighten($--main-text-color, 10%);

$--input-border-radius: 50px;

// DRIVER WORKSPACE VARS
$--driver-workspace-width: 600px;
$--driver-workspace-padding: 15px;
$--driver-workspace-border: 1px solid $--color-border;
$--driver-workspace-scaffold-background: darken($--color-white, 2%);
